body {
    background-color: #f2ddcc; 
    background-image: url("https://i.pinimg.com/1200x/9b/b1/de/9bb1de8abb995f40fad86fe8127d534b.jpg");
    background-position: center;
    /* background-size: cover; */
    background-repeat: repeat;
    border: 4px solid rgb(179, 44, 86); 
    border-radius: 20px;
    /* height: 1100px; */
    margin: 40px; 
    font-family: Garamond;  
    /* display: flex;
    /* align-items: center;
    justify-content: start; */
    /* flex-direction: column; */ 
}  

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}


.background-image {
    height: 200px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

/* .background-image {
    height: 200px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
} */

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
}




#title {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ba3349;
    text-decoration: underline wavy;
}

#title-text {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation {
    width: 33.33%;
    margin: 20px;
    /* padding: 20px; */
    margin-left: 50px;
}

#navigation-border {
    /* border: 1px solid black; */
    border-radius: 25px;
    background-color: #ba3349;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filler-content {
    width: 33.33%;
}

a {
    text-decoration: none;
    color: white;  
    border-radius: 25px;
}

a:hover {
    color: #ba3349;
    background-color: white;
    border-radius: 25px;
}

#navigation-border:hover {
    color: #ba3349;
    background-color: white;
    border: 2px solid #ba3349;
 
}

.form-input-short {
    width: 250px;
    border: 1px solid #ba3349;
    display: flex;
    margin: 10px;
}

.form-input-long {
    width: 400px;
    border: 1px solid #ba3349;
    display: flex;
    margin: 10px;
}





/* #bd215a */

  
