#add-blog-entry-section {
    width: 33.333%;
    margin: 20px;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 50px;
}

#add-blog-border {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: #ba3349;
    padding-left: 10px;
    padding-right: 10px;
    /* width: 25%; */
    /* font-size: 15px; */
}

#add-blog-border:hover {
    background-color: white;
    border-radius: 25px;
    border: 2px solid #ba3349;
}


.main-content {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 50px 100px;
    align-items: center;
    
}

.recent-posts-section {
    display: flex;
    width: 55%;
    border: 3px solid #ba3349;
    border-radius: 10px;
    flex-direction: column;
    background-color: white;
    min-height: 300px;
}


.recent-posts-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 136, 152);
    color: white;
    width: 100%;
    border-radius: 5px;
    font-size: 17px;
}

.recent-posts-content {
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    border-radius: 10px;
    width: 100%;
}

.recent-posts-content li {
    font-size: 20px;
    width: 100%;
    color: #ba3349;
}

.recent-posts-content a {
    color: #ba3349;
    box-sizing: border-box;
}

/* NOTE: h3 tags should have the same display setting when (not) hovered. This ensures the height will not change */

.recent-posts-content h3 {
    display: inline-block;
}

.recent-posts-content h3:hover {
    background-color: #ba3349;
    color: white;
    display: inline-block;
}




.bio {
    white-space: pre-wrap;
    overflow-wrap: break-word; 
    word-wrap: break-word;
    /* breaks up words to ensure it does not overflow */
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    padding-right: 50px;
    box-sizing: border-box;
}


.image-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #ba3349;
}

.image-container img{
    width: 100%;
    object-fit: cover;
}





.older-posts-section {
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
    justify-content: center;
    align-items: center;
}

#older-posts-title {
    margin: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: rgb(242, 136, 152);
    color: white;
}

.older-posts-content {
    height: 200px;
    overflow: scroll;
    width: 40%;
    border: 2px dashed #ba3349;
    background-color: white;
    color: #ba3349;
    display: flex;
    justify-content: center;
}


.older-posts-content ul{
    margin: 0px;
}

.older-posts-content li {
    font-size: 17px;
    font-weight: normal;
}

.highlight-text:hover {
    background-color: #ba3349;
    color: white;
    display: block;
    padding: 0px;
    display: inline-block;

}

