{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='blog_dashboard.css')}}">

{% endblock %}


{% block content %}
<div class="background-image">
    <img src="{{blog_manager.blogs[blog_id].blog_cover}}">
</div>

<div class="header">

    <div id="navigation">
        <div id="navigation-border">
            <a href="{{url_for('home')}}" id="navigation-url">
                <h2> ← Back </h2>
            </a>
        </div>
    </div>
    <div id="title">
        <h1 id="title-text"> {{blog_manager.blogs[blog_id].blog_name}} </h1>
    </div>
    <div id="filler-content">
    </div>
</div>


<div class="bio-section-container">
    <div class="about-me-content">
        <h2 id="about-me-title"> All About Me! </h2>
        <h2 id="description"> {{blog_manager.blogs[blog_id].description}}</h2>
    </div>
    <div class="birthday-section">
        <h2> I am a(n) {{sign}}</h2>

        <!-- insert correct star sign image -->
        <!-- NOTE: using the image path WON'T work, because Flask needs you to you url_for. Also, the images must be stored in the static folder otherwise, Flask can't render them.  -->
        {% if sign == "Aquarius" %}
            <img src="{{url_for('static', filename='images/Aquarius.jpg')}}">
        {% elif sign == "Aries" %}
            <img src="{{url_for('static', filename='images/Aries.jpg')}}">
        {% elif sign == "Cancer" %}
            <img src="{{url_for('static', filename='images/Cancer.jpg')}}">
        {% elif sign == "Capricorn" %}
            <img src="{{url_for('static', filename='images/Capricorn.jpg')}}">
        {% elif sign == "Gemini" %}
            <img src="{{url_for('static', filename='images/Gemini.jpg')}}">
        {% elif sign == "Leo" %}
            <img src="{{url_for('static', filename='images/Leo.jpg')}}">
        {% elif sign == "Libra" %}
            <img src="{{url_for('static', filename='images/Libra.jpg')}}">
        {% elif sign == "Pisces" %}
            <img src="{{url_for('static', filename='images/Pisces.jpg')}}">
        {% elif sign == "Saggittarius" %}
            <img src="{{url_for('static', filename='images/Saggittarius.jpg')}}">
        {% elif sign == "Scorpio" %}
            <img src="{{url_for('static', filename='images/Scorpio.jpg')}}">
        {% elif sign == "Taurus" %}
            <img src="{{url_for('static', filename='images/Taurus.jpg')}}">
        {% else %}
            <img src="{{url_for('static', filename='images/Virgo.jpg')}}">
        {% endif%}

        <h2> I was born {{blog_manager.blogs[blog_id].owner.birthday}}</h2>
    </div>
</div>

<!-- to fix the problem with the topic route, loop through each topic and print them that way, then add a parameter topic_id
 to the Topic class which is then passed through as the topic_id when you call the link -->
<div class="topics-container">
    {% for topic in blog_manager.blogs[blog_id].topics %}
        <div class="topic">
            <a href="{{ url_for('topic', blog_id=blog_id, topic_id=topic.topic_id)}}">
                <h1> {{topic.topic_name}}</h1>
            </a>
        </div>
    {% endfor %}
</div>



{% endblock%}