{% extends "base.html" %}

<head>
    {% block title%} Blog Form {% endblock %}
    {% block head%}
        <link rel="stylesheet" href="{{url_for('static', filename='blog_form.css')}}">
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="header">
        <div id="navigation">
            <div id="navigation-border">
                <a href="{{url_for('home')}}"><h2> ← Back </h2></a>
            </div>
        </div>
        <div id="title">
            <h1 id="title-text"> Blog Form </h1>
        </div>
        <div id="filler-content">
        </div>
    </div>


        <div class="main-content">
            <div class="description">
                <h2> Fill out this form to start creating the content for you blog!
                    Each blog features three different topics which interest you - this can be food, programming, gaming, sport and much more. 
                    Simply list the topics you want to talk about below in order to create a section for them. 
                </h2>
            </div>
            <div class="form">
                <form action="/blog_form" method="POST" class="form-content">
                    {{form.hidden_tag()}}
                    <div class="form-row">
                    {{form.owner_name.label}} {{form.owner_name(class="form-input-short")}}<br>
                    </div>

                    <div class="form-row">
                    {{form.blog_name.label}} {{form.blog_name(class="form-input-short")}} <br>
                    </div>

                    <div class="form-row">
                    {{form.description.label}} {{form.description(class="form-input-description")}}<br>
                    </div>

                    <div class="form-row">
                        {{form.birthday.label}} {{form.birthday(class="form-input-short")}}
                    </div>

                    <div class="form-row">
                    {{form.blog_cover.label}} {{form.blog_cover(class="form-input-long")}} <br>
                    </div>

                    <div class="form-row">
                    {{form.topic1.label}} {{form.topic1}} <br>
                    </div>

                    <div class="form-row">
                    {{form.topic2.label}} {{form.topic2}} <br>
                    </div>

                    <div class="form-row">
                    {{form.topic2.label}} {{form.topic3}} <br>
                    </div>

                    {{form.submit(class="submit-button")}}
                </form>
                <div class="error-message">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <h3 class="error-text">{{messages[0]}}</h3>
                        {% endif %}
                    {% endwith %}
                </div>
   
            </div>
        </div>




    {% endblock %}
</body>